<template>
  <div>
    <search></search>
    <hero></hero>
    <products-list></products-list>
  </div>
</template>

<script>
import Search from '../search/Search';
import ProductsList from '../product_list/ProductsList';
import HeroSection from '../hero/Hero';
import axios from 'axios'
import VueAxios from 'vue-axios'

export default {
  name: 'homepage-component',
  components: {
    'search': Search,
    'products-list': ProductsList,
    'hero': HeroSection,
    'axios': axios
  },

};
</script>
