<template>
    <div>
        <div class="navbar-item"  v-if="!isUserLoggedIn">
            <div class="field is-grouped">
                <p class="control">
                    <a v-if="!isUserLoggedIn" class="button" @click="showRegistrationModal">
                        <span class="icon">
                            <i class="fas fa-user-plus"></i>
                        </span>
                        <span>{{ signupLabel }}</span>
                    </a>
                </p>
                <p class="control">
                    <a v-if="!isUserLoggedIn" class="button" @click="showLoginModal">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <span>{{ loginLabel }}</span>
                    </a>
                </p>
            </div>
        </div>
        <div v-if="isUserLoggedIn" class="navbar-item" style="position: absolute; right: 200px;">
            Credits: {{credit}}
        </div>
        <div v-if="isUserLoggedIn" class="navbar-item has-dropdown is-hoverable" >
            <a class="navbar-link"> 
            Welcome User
            </a>

            <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" @click="showAddProductModal">
                        Add Product
                    </a>
                <a class="navbar-item" @click="showBuyCreditModal">
                    Buy Credits
                    </a>
                <router-link class="navbar-item" :to="{ path: '/account', name: 'account-component' }">
                    {{ accountLabel }}
                </router-link>
                <router-link class="navbar-item" :to="{ path: '/wishlist', name: 'wishlist-component' }">
                    {{ wishlistLabel }}
                </router-link>
                <hr class="navbar-divider">
                <a class="navbar-item" @click="logout">
                    {{ logoutLabel }}
                </a>
            </div>
        </div>
        <login-modal-component :isLoginActive.sync="isLoginActive"></login-modal-component>
        <registration-modal-component :isRegistrationActive.sync="isRegistrationActive"></registration-modal-component>
        <add-product-component :isAddProductActive.sync="isAddProductActive"></add-product-component>
        <buy-credit-component :isBuyCreditActive.sync="isBuyCreditActive"></buy-credit-component>
    </div>
</template>

<script>
import LoginModal from '../modal/Login';
import RegistrationModal from '../modal/Registration';
import AddProduct from '../modal/AddProduct';
import BuyCredit from '../modal/BuyCredit'
import axios from "axios";

export default {
    name: 'menu-component',
    data () {
        return {
            isLoginActive: false,
            isRegistrationActive: false,
            isAddProductActive: false,
            isBuyCreditActive: false,
            wishlistLabel: 'Wishlist',
            logoutLabel: 'Log out',
            accountLabel: 'My account',
            loginLabel: 'Log in',
            signupLabel: 'Sign up',
        }
    },

    mounted() {
        axios({ method: "GET", "url": "http://68.183.239.211:3000/api/user/1/transaction" }).then(result => {
            this.$store.commit('addCredit', result.data.total);
        }, error => {
            console.error(error);
        });
    },

    components: {
        'login-modal-component': LoginModal,
        'registration-modal-component': RegistrationModal,
        'add-product-component': AddProduct,
        'buy-credit-component': BuyCredit
    },

    computed: {
      isUserLoggedIn () {
        return this.$store.getters.isUserLoggedIn;
      },
      credit () {
            return this.$store.state.credit;
        }
    },

    methods: {
        logout () {
            this.$store.commit('setIsUserLoggedIn', false);

            // redirect to homepage
            this.$router.push({ name: 'homepage-component' });
        },
        showLoginModal () {
            this.isLoginActive = true;
        },
        showRegistrationModal () {
            this.isRegistrationActive = true;
        },
        showAddProductModal(){
            this.isAddProductActive = true;
        },
        showBuyCreditModal(){
            this.isBuyCreditActive = true;
        }
    }
}
</script>

<style  lang="scss" scoped>
  @media screen and (max-width: 1087px){
      .navbar-item.has-dropdown{
        width: 230px;
      }
    .navbar-dropdown.is-boxed{
        display: none;
        
        background: #fff !important;
    }
  }
</style>


