<template>
    <div :class="[ isAddProductActive ? 'is-active' : '', 'modal' ]">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add Product</p>
          <button class="delete" aria-label="close" @click="closeModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Name" v-model="product.name">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Description" v-model="product.description">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Price" v-model="product.price">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Discount" v-model="product.discount">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Tag" v-model="product.tag">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="date" placeholder="Valid From" v-model="product.validFrom">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="date" placeholder="Valid Until" v-model="product.validUntil">
            </p>
          </div>
          <div id="qrcode">
            </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" @click="addProduct(product)">{{ primaryBtnLabel }}</button>
        </footer>
      </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'add-product-component',
  props: ['isAddProductActive'],

  data () {
        return {
            modalTitle: 'Add Product',
            primaryBtnLabel: 'Add Product',
            product: {
              name: "",
              description: "",
              price: "",
              discount: "",
              tag: "",
              validFrom: "",
              validUntil: ""
            }
        }
    },


  methods: {
    closeModal () {
      this.$emit('update:isAddProductActive', false);
    },

    addProduct(product) {
      axios({ method: "POST", 
        "url": "http://68.183.239.211:3000/api/product/", 
        "data": product, 
        "headers": { "content-type": "application/json" } }).then(result => {
          this.$store.commit('addProduct', product);
          this.$emit('update:isAddProductActive', false);
      }, error => {
        console.error(error);
      });
    }
  }
}
</script>
<!-- <div id="qrcode"></div>
<script type="text/javascript">
new QRCode(document.getElementById("qrcode"), "http://jindo.dev.naver.com/collie");
</script> -->
