<template>
    <div :class="[ isBuyCreditActive ? 'is-active' : '', 'modal' ]">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Buy Credits</p>
          <button class="delete" aria-label="close" @click="closeModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Amount" v-model="transaction.amount">
            </p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" @click="buyCredit(transaction)">Buy</button>
        </footer>
      </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'buy-credit-component',
  props: ['isBuyCreditActive'],

  data () {
        return {
            modalTitle: 'Buy Credits',
            primaryBtnLabel: 'Buy Credits',
            transaction:{
              userId: 1,
              referenceNumber: "AAAABBBB",
              amount: 0
            }
        }
    },


  methods: {
    closeModal () {
      this.$emit('update:isBuyCreditActive', false);
    },

    buyCredit(transaction) {
      axios({ method: "POST", 
        "url": "http://68.183.239.211:3000/api/transaction/", 
        "data": transaction, 
        "headers": { "content-type": "application/json" } }).then(result => {
          this.$store.commit('addCredit', transaction.amount);
          this.$emit('update:isBuyCreditActive', false);
      }, error => {
        console.error(error);
      });
    }
  }
}
</script>