<template>
    <div :class="[ isChatbotActive ? 'is-active' : '', 'modal' ]">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Chatbot</p>
                <button class="delete" aria-label="close" @click="closeModal"></button>
            </header>
            <section class="modal-card-body">
               <iframe src='https://webchat.botframework.com/embed/hm045_pportal_bot?s=8f0WAf3XSws.cwA.XvM.Wp_aSkX9_U3e14dnIjJL8ba3vAwp2tygqo-ATD3i9Uk '  style='min-width: 400px; width: 100%; min-height: 300px;'></iframe>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success"  @click="closeModal">Close</button>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    name: 'chatbot-component',
    props: ['isChatbotActive'],
    
    data () {
        return {

        }
    },


    methods: {
        closeModal () {
            this.$emit('update:isChatbotActive', false);
        }
    }
}
</script>

