<template>
    <div :class="[ isRegistrationActive ? 'is-active' : '', 'modal' ]">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ modalTitle }}</p>
          <button class="delete" aria-label="close" @click="closeModal"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Name" v-model="user.firstName">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email" v-model="user.email">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" v-model="user.password">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Repeat Password">
            </p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" @click="registerUser(user)">{{ primaryBtnLabel }}</button>
        </footer>
      </div>
    </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'registration-component',
  props: ['isRegistrationActive'],

  data () {
        return {
            modalTitle: 'Sign up',
            primaryBtnLabel: 'Sign up',
            user: {
              firstName: "",
              email: "",
              password: "",
            }
        }
    },

  computed: {
        isUserLoggedIn () {
            return this.$store.getters.isUserLoggedIn;
        }
    },

  methods: {
    closeModal () {
      this.$emit('update:isRegistrationActive', false);
    },

    registerUser(user) {
      axios({ method: "POST", 
        "url": "http://68.183.239.211:3000/api/user/", 
        "data": user, 
        "headers": { "content-type": "application/json" } }).then(result => {
          this.$store.commit('setIsUserLoggedIn', true);
          this.$emit('update:isRegistrationActive', false);
      }, error => {
        console.error(error);
      });
    }
  }
}
</script>

