<template>
  <div>
    <nav class="navbar navbarMenu navbar-fixed fixed" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link :to="{ path: '/', name: 'homepage-component' }" class="navbar-item">
          <h1>OQULO</h1>
        </router-link>
      </div>

      <div class="navbar-menu is-active">   
        <div class="navbar-start">
          <div class="navbar-item">
            <div class="navbar-item shopping-cart" @click="showChatbotModal">
            <span class="icon">
              <i class="fa fa-comments"></i>
            </span>
            </div>
          </div>
          <div v-if="isUserLoggedIn" class="navbar-item">
            <div class="navbar-item shopping-cart" @click="showCheckoutModal">
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
            <span :class="[numProductsAdded > 0 ? 'tag is-info' : '']">{{ numProductsAdded }}</span>
          </div>
          </div>
        </div>   
        <div class="navbar-end">
          <div class="login">
          <menu-component></menu-component>
          </div>
        </div>
      </div>

        

    </nav>
    <checkout-modal-component :isCheckoutActive.sync="isCheckoutActive"></checkout-modal-component>
    <chatbot-component :isChatbotActive.sync="isChatbotActive"></chatbot-component>
  </div>
</template>

<script>
  import CheckoutModal from '../modal/Checkout';
  import Menu from '../menu/Menu';
  import Search from '../search/Search';
  import ChatbotModal from '../modal/Chatbot'

  export default {
    name: 'header-component',

    data () {
      return {
        isCheckoutActive: false,
        isChatbotActive: false,
        isMenuOpen: false,
      }
    },

    computed: {
      numProductsAdded () {
        return this.$store.getters.productsAdded.length;
      },
      isUserLoggedIn () {
        return this.$store.getters.isUserLoggedIn;
      },
    },

    components: {
      'search-component': Search,
      'checkout-modal-component': CheckoutModal,
      'chatbot-component': ChatbotModal,
      'menu-component': Menu
    },

    methods: {
      showCheckoutModal () {
          this.isCheckoutActive = true;
      },
      showChatbotModal () {
          this.isChatbotActive = true;
      }
    }
  };
</script>

<style lang="scss" scoped>
  @media screen and (max-width: 1087px){
    .navbar-menu.is-active {
        position: absolute;
        top: 0;
        clear: both;
        width: 100%;
        height: 60px;
    }

    .navbar-start{
      position: absolute;
      left: 100px;
      width: 100px;
      clear: both;
    }
    
    .navbar-item.has-dropdown{
      width: 220px !important;
    }

    .navbar-dropdown.is-boxed{
      background: #fff !important;
    }

    .navbar-end{
      position: absolute;
      right: 130px;
      width: 100px;
      clear: both;
    }

    .navbar-brand{
      position: absolute;
      left: 0;
      clear: both;
      z-index: 999;
      font-size: 24px;
      padding-top: 7px;
    }
  }

  .navbarMenu{
    position: relative;
  }
  // .login{
  //   position: absolute;
  //   right: 0px;
  //   clear: both;
  // }
  .title {
    background: url('../../../public/assets/vuemmerce-logo.png') no-repeat;
    background-position: 50% 50%;
    background-size: 165px;
    width: 175px;
    height: 35px;
    font-size: 24px;
    
  }
</style>
