<template>
  <div class="columns is-centered is-multiline">
      <div class="card column is-one-quarter" v-for="product in products" :key="product.id">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/shop-thumbnail.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="is-pulled-right is-4" style="color: red;">-{{product.discount}}%</p>
              <p class="title is-4">{{ product.name }}</p>
              
            </div>
          </div>
          <div class="content is-clearfix">
            <p>{{ product.description }}</p>
            <div class="is-pulled-left">
              <i v-if="product.ratings === 1" class="fa fa-star"></i>
              <i v-if="product.ratings === 2" class="fa fa-star"></i>
              <i v-if="product.ratings === 2" class="fa fa-star"></i>
              <i v-if="product.ratings === 3" class="fa fa-star"></i>
              <i v-if="product.ratings === 3" class="fa fa-star"></i>
              <i v-if="product.ratings === 3" class="fa fa-star"></i>
              <i v-if="product.ratings === 4" class="fa fa-star"></i>
              <i v-if="product.ratings === 4" class="fa fa-star"></i>
              <i v-if="product.ratings === 4" class="fa fa-star"></i>
              <i v-if="product.ratings === 4" class="fa fa-star"></i>
              <i v-if="product.ratings === 5" class="fa fa-star"></i>
              <i v-if="product.ratings === 5" class="fa fa-star"></i>
              <i v-if="product.ratings === 5" class="fa fa-star"></i>
              <i v-if="product.ratings === 5" class="fa fa-star"></i>
              <i v-if="product.ratings === 5" class="fa fa-star"></i>
              <p>{{ product.reviews > 0 ? `${product.reviews} Reviews` : 'No reviews' }}</p>
            </div>
            <p class="is-pulled-right"><span class="title is-4"><strong>{{ product.price }} Credits</strong></span></p>
          </div>
          <div class="card-footer btn-actions">
            <div class="card-footer-item field is-grouped">
              <p class="control">
                <button class="button is-primary" v-if="!product.isAddedToCart" @click="addToCart(product.id)">{{ addToCartLabel }}</button>
                <button class="button is-text" v-if="product.isAddedToCart" @click="removeFromCart(product.id, false)">{{ removeFromCartLabel }}</button>
              </p>
              <p class="control">
                <router-link
                  class="button is-link is-outlined"
                  :to="{
                    path: '/product-detail',
                    name: 'product-detail-component',
                    params: {
                      id: product.id,
                      name: product.name,
                      price: product.price,
                      rating: product.ratings,
                      reviews: product.reviews,
                      isAddedBtn: product.isAddedBtn
                    }
                  }"
                >
                  {{ viewDetailsLabel }}
                </router-link>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section" v-if="products.length === 0">
        <p>{{ noProductLabel }}</p>
      </div>
    </div>
</template>

<script>
import ProductDetail from '../product_detail/ProductDetail';
import { getByTitle } from '../../filters';
import axios from "axios";

export default {
  name: 'products-list-component',
  
  components: {
    'product-detail': ProductDetail
  },
  
  data() {
    return {
      id: '',
      addToCartLabel: 'Add to cart',
      viewDetailsLabel: 'Details',
      removeFromCartLabel: 'Remove from cart',
      noProductLabel: 'No product found',
      productsFiltered: [],
      shopProduct: []
    };
  },

  mounted() {
      axios({ method: "GET", "url": "http://68.183.239.211:3000/api/product/" }).then(result => {
          
          result.data.forEach(element => {
            this.$store.commit('addProduct', element);
          });
      }, error => {
          console.error(error);
      });
  },

  computed: {
    products () {
      if (this.$store.state.userInfo.hasSearched) {
        return this.getProductByTitle();
      } else {
        return this.$store.state.products;
      }
    }

  },

  methods: {
    addToCart (id) {
      let data = {
        id: id,
        status: true
      }
      this.$store.commit('addToCart', id);
      this.$store.commit('setAddedBtn', data);
    },
    removeFromCart (id) {
      let data = {
        id: id,
        status: false
      }
      this.$store.commit('removeFromCart', id);
      this.$store.commit('setAddedBtn', data);
    },
    getProductByTitle () {
      let listOfProducts = this.$store.state.products,
          titleSearched = this.$store.state.userInfo.productTitleSearched;
      
      return this.productsFiltered = getByTitle (listOfProducts, titleSearched);
    }
  }

};
</script>

<style lang="scss" scoped>
  .card {
    margin: 10px;
  }
</style>
