<template>
  <div class="footer has-text-centered">
    <div class="columns ">
      <div class="column">
        <p>Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet.</p>
      </div>
    <div class="column">
      <p>Oqulo | Made with Sweg</p>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'footer-component',
}
</script>

<style lang="scss" scoped>
</style>
